# Archivos de autoguardado y temporales
*.asv
*.asv*
*.autosave

# Archivos compilados (no se deben subir)
*.mex*
*.mexa64
*.mexw64
*.mexmaci64

# Archivos de simulink y caché (si los usaras)
slprj/
*.slxc
*.sdi

# Archivos de configuración de proyecto locales
.SimulinkProject/
_SimulinkProject/

# Archivos de sesión grandes 

# Carpetas de resultados temporales 
# Si las carpetas "Masks" o "Output" se generan cada vez, es mejor ignorarlas:
